<!--page-title-area start-->
<section
  class="page-title-area d-flex align-items-end"
  style="background-image: url(assets/img/page-title-bg/Courses.jpg)"
>
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-12">
        <div class="page-title-wrapper mb-50">
          <h1 class="page-title mb-25">Training & Internship</h1>
          <div class="breadcrumb-list">
            <ul class="breadcrumb">
              <li><a routerLink="/home">Home -</a></li>
              <li><a routerLink="/courses">Courses </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="feature-course gradient-bg pt-150 pb-120 pt-md-95 pb-md-75 pt-xs-95 pb-xs-70"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section-title text-center mb-30">
          <h5 class="bottom-line mb-25">Featured Courses</h5>
          <h2>Explore our Popular Courses</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-12 text-center">
        <div class="portfolio-menu mb-60">
          <button class="gf_btn active" data-filter="*">All</button>
          <button class="gf_btn" data-filter=".cat1">UI/UX</button>
          <button class="gf_btn" data-filter=".cat2">Data Analytics</button>
          <button class="gf_btn" data-filter=".cat3">
            Full Stack Development
          </button>
          <button class="gf_btn" data-filter=".cat4">Data Science</button>
          <button class="gf_btn" data-filter=".cat5">Digital Marketing</button>
          <button class="gf_btn" data-filter=".cat6">Software Testing</button>
          <button class="gf_btn" data-filter=".cat7">Business Analytics</button>
          <button class="gf_btn" data-filter=".cat8">MERN-Stack</button>
          <button class="gf_btn" data-filter=".cat9">MEAN-Stack</button>
        </div>
      </div>
    </div>
    <div class="grid row">
      <div class="col-lg-4 col-md-6 grid-item cat1">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <!-- Use routerLink to navigate to the course detail page -->
            <a [routerLink]="['/ui-ux', '1']">
              <img
                class="img-fluid"
                src="assets/img/course/1.png"
                alt="UI/UX"
              />
            </a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/ui-ux', '1']">UI/UX</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a [routerLink]="['/ui-ux', '1']" class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat2">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '2']"
              ><img class="img-fluid" src="assets/img/course/4.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '2']">Data Analytics</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '2']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat3">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '3']"
              ><img class="img-fluid" src="assets/img/course/3.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '3']">Full Stack-PYTHON</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '3']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat4">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '4']"
              ><img class="img-fluid" src="assets/img/course/5.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '4']">Data Science</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '4']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat5">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '5']"
              ><img class="img-fluid" src="assets/img/course/2.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '5']">Digital Marketing</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '5']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat3">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '6']"
              ><img class="img-fluid" src="assets/img/course/3.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '6']">Full Stack-JAVA</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '6']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat7">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '7']"
              ><img class="img-fluid" src="assets/img/course/ba.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '7']">Business Analytics</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '7']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat8">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '8']"
              ><img class="img-fluid" src="assets/img/course/mern.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '8']">MERN-Stack</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '8']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat6">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '10']"
              ><img class="img-fluid" src="assets/img/course/7.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '8']">Software Testing</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '8']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grid-item cat9">
        <div class="z-gallery z-gallery-two gallery-03 mb-30">
          <div class="z-gallery__thumb mb-20">
            <a [routerLink]="['/course-detail', '9']"
              ><img class="img-fluid" src="assets/img/course/9.png" alt=""
            /></a>
          </div>
          <div class="z-gallery__content pos-rel">
            <div
              class="course__meta d-flex align-items-center justify-content-between mb-15"
            >
              <span
                ><img
                  class="icon"
                  src="assets/img/icon/time.svg"
                  alt="course-meta"
                />
                90 minutes</span
              >
            </div>
            <h4 class="sub-title mb-15">
              <a [routerLink]="['/course-detail', '9']">MEAN-Stack</a>
            </h4>
            <p class="mb-20">
              There are many variations of passages of with Lorem Ipsum
              available.
            </p>
            <a
              [routerLink]="['/course-detail', '9']"
              class="read_more float-end"
              >Learn More+</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-12 mt-20 text-center mb-20">
        <a routerLink="/courses" class="theme_btn">Explore More</a>
      </div>
    </div>
  </div>
</section>

<!-- feature-course end -->
<!--what-loking-for start-->
<!-- <section
  class="what-looking-for pos-rel gradient-bg pt-145 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80"
>
  <div class="what-blur-shape-one"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center mb-55">
          <h5 class="bottom-line mb-25">Teachers & Students</h5>
          <h2>What you Looking For?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="what-box text-center mb-3">
          <div class="what-box__icon mb-30">
            <img src="assets/img/icon/phone-operator.svg" alt="" />
          </div>
          <h3>Do you want to teach here?</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di
            nonumy eirmod tempor invidunt ut labore et dolore magn aliq erat.
          </p>
          <a href="contact.html" class="theme_btn border_btn">Register Now</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="what-box text-center mb-3">
          <div class="what-box__icon mb-30">
            <img src="assets/img/icon/graduate.svg" alt="" />
          </div>
          <h3>Do you want to learn here?</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di
            nonumy eirmod tempor invidunt ut labore et dolore magn aliq erat.
          </p>
          <a href="contact.html" class="theme_btn border_btn active"
            >Register Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--what-loking-for end-->
