.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Full viewport height */
  background-image: url("/assets/img/notfound.jpg"); /* Update with your image path */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  color: white; /* Text color for visibility */
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}
