<main>
  <!--slider-area start-->
  <section class="video-slider-area">
    <video autoplay muted loop class="background-video">
      <source src="assets/video/background-video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="video-overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 text-center">
            <div class="slider__content">
              <h3 class="main-title mb-35 text-white">
                Innovative Solution for the Future Generation.
              </h3>
              <h2 class="mb-35 text-white">
                Be a Master, the Future of Technology.<br />
                <br />
              </h2>
              <h1 class="mb-35 text-white">
                <strong>
                  <span class="icon-text"
                    ><i class="fas fa-paint-brush"></i> Design</span
                  >
                  <span class="icon-text"
                    ><i class="fas fa-code"></i> Develop</span
                  >

                  <span class="icon-text"
                    ><i class="fas fa-trophy"></i> Succeed</span
                  >.
                </strong>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--slider-area end-->
  <!-- course-instructor start -->
  <section
    class="testimonial-area testimonial-pad pt-0 pb-35 pt-md-75 pb-md-50 pt-xs-75 pb-xs-50"
  >
    <div class="container custom-container-testimonial">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="section-title text-center text-md-start mb-35">
            <h2 class="bottom-line mb-25">About DezyKode</h2>
          </div>
        </div>
        <!-- <div class="col-lg-4 text-center text-lg-end">
          <a href="instructor.html" class="theme_btn">Read All Reviews</a>
        </div> -->
      </div>
      <div class="row">
        <!-- Remove the carousel class and keep only three testimonials -->
        <div class="col-xl-4">
          <div class="testimonial-wrapper mb-30 text-center">
            <div class="testimonial-authors overflow-hidden mb-15">
              <div class="testimonial-authors__avatar">
                <img
                  src="assets/img/testimonial/Mission.svg"
                  alt="testi-author"
                />
              </div>
              <div class="testimonial-authors__content mt-10">
                <h4 class="sub-title">Our Mission</h4>
                <!-- <p>Full Stack Developer</p> -->
              </div>
            </div>
            <p>
              " At DEZYKODE, we provide exceptional training and internships in
              design and development, fostering creativity and technical
              excellence. Our comprehensive, hands-on programs equip
              professionals for success in UI/UX design, Data Science,
              Analytics, Software Testing, and Full Stack Development."
            </p>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="testimonial-wrapper mb-30 text-center">
            <div class="testimonial-authors overflow-hidden mb-15">
              <div class="testimonial-authors__avatar">
                <img src="assets/img/testimonial/Goal.svg" alt="testi-author" />
              </div>
              <div class="testimonial-authors__content mt-10">
                <h4 class="sub-title">Our Goal</h4>
                <!-- <p>User Interface</p> -->
              </div>
            </div>
            <p>
              " We work to help shape tech professionals who are one step ahead
              in modern technologies and create solutions that meet the human
              user. Top-tier training, mentorship, and community support all
              help to do so in an environment where future designers and
              developers can grow, contribute, and drive innovation within this
              industry. "
            </p>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="testimonial-wrapper mb-30 text-center">
            <div class="testimonial-authors overflow-hidden mb-15">
              <div class="testimonial-authors__avatar">
                <img src="assets/img/testimonial/Team.svg" alt="testi-author" />
              </div>
              <div class="testimonial-authors__content mt-10">
                <h4 class="sub-title">Our Team</h4>
                <!-- <p>Content Writer</p> -->
              </div>
            </div>
            <p>
              " Our team of skilled designers, developers, and digital marketing
              experts is dedicated to helping IT and non-IT candidates succeed.
              We stay current with the latest design and development trends to
              provide top-notch training and service, empowering individuals to
              excel in their careers with innovative and practical solutions. "
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- course-instructor end -->
  <!--what-loking-for start-->
  <section class="what-looking-for pos-rel">
    <div class="what-blur-shape-one"></div>
    <div class="what-blur-shape-two"></div>
    <div
      class="what-look-bg gradient-bg pt-10 pb-50 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center mb-55">
              <!-- <h5 class="bottom-line mb-25">Teachers & Students</h5> -->
              <h2>What you Looking For?</h2>
            </div>
          </div>
        </div>
        <div class="row mb-40">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div
              class="what-box text-center mb-35 wow fadeInUp2 animated"
              data-wow-delay=".3s"
            >
              <div class="what-box__icon mb-30">
                <img src="assets/img/icon/Training.svg" alt="" />
              </div>
              <h3>Looking for Training?</h3>
              <p>
                We offer a variety of corporate level training programs tailored
                for both <b><u> IT and Non-IT Professionals</u></b
                >, catering to freshers as well as experienced candidates.
              </p>
              <a routerLink="/courses" class="theme_btn border_btn active"
                >Know more</a
              >
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div
              class="what-box text-center mb-35 wow fadeInUp2 animated"
              data-wow-delay=".3s"
            >
              <div class="what-box__icon mb-30">
                <img src="assets/img/icon/Internship.svg" alt="" />
              </div>
              <h3>Looking for Internship?</h3>
              <p>
                We offer live project internships specifically designed for<b
                  ><u> IT and Non-IT Professionals</u></b
                >
                those looking to enhance their expertise and kickstart a career
                in IT.
              </p>

              <a routerLink="/courses" class="theme_btn border_btn active"
                >Apply Now</a
              >
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div
              class="what-box text-center mb-35 wow fadeInUp2 animated"
              data-wow-delay=".3s"
            >
              <div class="what-box__icon mb-30">
                <img src="assets/img/icon/Services.svg" alt="" />
              </div>
              <h3>Services <br />looking for?</h3>
              <p>
                As an IT professional company leveraging the latest technology,
                we provide comprehensive, budget-friendly solutions tailored to
                your needs.
              </p>
              <a routerLink="/services" class="theme_btn border_btn active"
                >Enquire Now</a
              >
            </div>
          </div>
        </div>
        <div class="categoris-container">
          <div class="col-xl-12">
            <div class="section-title text-center mb-55">
              <!-- <h5 class="bottom-line mb-25">Browse Categories</h5> -->
              <h2>Services We Provide</h2>
            </div>
          </div>
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-5"
          >
            <div class="col">
              <div
                class="single-category text-center mb-30 wow fadeInUp2 animated"
                data-wow-delay=".1s"
              >
                <img
                  class="mb-30"
                  src="assets/img/category-icon/UIUX.svg"
                  alt=""
                  height="auto"
                  width="100px"
                />
                <h4 class="sub-title mb-10">
                  <a routerLink="/services">UI/UX Design</a>
                </h4>
                <!-- <p>126+ Courses Available</p> -->
              </div>
            </div>
            <div class="col">
              <div
                class="single-category text-center mb-30 wow fadeInUp2 animated"
                data-wow-delay=".2s"
              >
                <img
                  class="mb-30"
                  src="assets/img/category-icon/Devlopment.svg"
                  alt=""
                  height="auto"
                  width="100px"
                />
                <h4 class="sub-title mb-10">
                  <a routerLink="/services">Development</a>
                </h4>
                <!-- <p>325+ Courses Available</p> -->
              </div>
            </div>
            <div class="col">
              <div
                class="single-category text-center mb-30 wow fadeInUp2 animated"
                data-wow-delay=".3s"
              >
                <img
                  class="mb-30"
                  src="assets/img/category-icon/WebDesign.svg"
                  alt=""
                  height="auto"
                  width="100px"
                />
                <h4 class="sub-title mb-10">
                  <a routerLink="/services">Web Design</a>
                </h4>
                <!-- <p>95+ Courses Available</p> -->
              </div>
            </div>
            <div class="col">
              <div
                class="single-category text-center mb-30 wow fadeInUp2 animated"
                data-wow-delay=".4s"
              >
                <img
                  class="mb-30"
                  src="assets/img/category-icon/AppDevlopment.svg"
                  alt=""
                  height="auto"
                  width="100px"
                />
                <h4 class="sub-title mb-10">
                  <a routerLink="/services">App Development</a>
                </h4>
                <!-- <p>156+ Courses Available</p> -->
              </div>
            </div>
            <div class="col">
              <div
                class="single-category text-center mb-30 wow fadeInUp2 animated"
                data-wow-delay=".5s"
              >
                <img
                  class="mb-30"
                  src="assets/img/category-icon/DigitalMarketing.svg"
                  alt=""
                  height="auto"
                  width="100px"
                />
                <h4 class="sub-title mb-10">
                  <a routerLink="/services">Digital Marketing</a>
                </h4>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div
              class="col-md-12 mt-20 text-center mb-20 wow fadeInUp2 animated"
              data-wow-delay=".6s"
            >
              <a routerLink="/services" class="theme_btn">View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--what-loking-for end-->
  <!-- case-gallery start -->
  <section
    class="feature-course pt-35 pb-30 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-title text-center mb-50">
            <!-- <h5 class="bottom-line mb-25">Featured Courses</h5> -->
            <h2>Popular Training & Internships We Provide</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-12 text-center">
          <div class="portfolio-menu mb-30">
            <button class="gf_btn active" data-filter="*">All</button>
            <button class="gf_btn" data-filter=".cat1">Design</button>
            <button class="gf_btn" data-filter=".cat2">Development</button>
            <button class="gf_btn" data-filter=".cat3">Testing</button>
            <button class="gf_btn" data-filter=".cat4">Analytics</button>
            <!-- <button class="gf_btn" data-filter=".cat5">Design</button> -->
          </div>
        </div>
      </div>
      <div class="grid row">
        <div class="col-lg-4 col-md-6 grid-item cat2 cat3">
          <div class="z-gallery mb-30">
            <div class="z-gallery__thumb mb-20">
              <a routerLink="/courses"
                ><img
                  class="img-fluid"
                  src="assets/img/course/home/UIUX.png"
                  alt=""
              /></a>
            </div>
            <div class="z-gallery__content">
              <div class="course__tag mb-15"></div>
              <h4 class="sub-title mb-20">
                <a routerLink="/courses">UI/UX Design & Development</a>
              </h4>
              <div class="course__meta"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item cat1 cat3 cat4">
          <div class="z-gallery mb-30">
            <div class="z-gallery__thumb mb-20">
              <a routerLink="/courses"
                ><img
                  class="img-fluid"
                  src="assets/img/course/home/FSD.png"
                  alt=""
              /></a>
            </div>
            <div class="z-gallery__content">
              <div class="course__tag mb-15"></div>
              <h4 class="sub-title mb-20">
                <a routerLink="/courses">Full Stack Development</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item cat2 cat1">
          <div class="z-gallery mb-30">
            <div class="z-gallery__thumb mb-20">
              <a routerLink="/courses"
                ><img
                  class="img-fluid"
                  src="assets/img/course/home/DM.png"
                  alt=""
              /></a>
            </div>
            <div class="z-gallery__content">
              <div class="course__tag mb-15"></div>
              <h4 class="sub-title mb-20">
                <a routerLink="/courses">Digital Marketing</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item cat2 cat3">
          <div class="z-gallery mb-30">
            <div class="z-gallery__thumb mb-20">
              <a routerLink="/courses"
                ><img
                  class="img-fluid"
                  src="assets/img/course/home/DA.png"
                  alt=""
              /></a>
            </div>
            <div class="z-gallery__content">
              <div class="course__tag mb-15"></div>
              <h4 class="sub-title mb-20">
                <a routerLink="/courses">Data Analytics</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item cat4">
          <div class="z-gallery mb-30">
            <div class="z-gallery__thumb mb-20">
              <a routerLink="/courses"
                ><img
                  class="img-fluid"
                  src="assets/img/course/home/BA.png"
                  alt=""
              /></a>
            </div>
            <div class="z-gallery__content">
              <div class="course__tag mb-15"></div>
              <h4 class="sub-title mb-20">
                <a routerLink="/courses">Business Analytics</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item cat3 cat1">
          <div class="z-gallery mb-30">
            <div class="z-gallery__thumb mb-20">
              <a routerLink="/courses"
                ><img
                  class="img-fluid"
                  src="assets/img/course/home/DS.png"
                  alt=""
              /></a>
            </div>
            <div class="z-gallery__content">
              <div class="course__tag mb-15"></div>
              <h4 class="sub-title mb-20">
                <a routerLink="/courses">Data Science</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-12 mt-20 text-center mb-20 wow fadeInUp2 animated"
          data-wow-delay=".3s"
        >
          <a routerLink="/courses" class="theme_btn">View more</a>
        </div>
      </div>
    </div>
  </section>
  <!-- case-gallery end -->
  <!-- why-chose-section-wrapper start -->
  <div class="why-chose-section-wrapper gradient-bg mr-100 ml-100">
    <!-- why-chose-us start -->
    <section class="why-chose-us">
      <div
        class="why-chose-us-bg pt-40 pb-40 pt-md-95 pb-md-90 pt-xs-95 pb-xs-90"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7">
              <div class="chose-img-wrapper mb-50 pos-rel">
                <!-- <div class="coures-member">
                  <h5>Total Trainies</h5>
                  <img
                    class="choses chose_01"
                    src="assets/img/chose/01.png"
                    alt="Chose-img"
                  />
                  <img
                    class="choses chose_02"
                    src="assets/img/chose/02.png"
                    alt="Chose-img"
                  />
                  <img
                    class="choses chose_03"
                    src="assets/img/chose/03.png"
                    alt="Chose-img"
                  />
                  <img
                    class="choses chose_04"
                    src="assets/img/chose/04.png"
                    alt="Chose-img"
                  />
                  <span>25k+</span>
                </div> -->
                <div class="feature tag_01">
                  <span
                    ><img src="assets/img/icon/shield-check.svg" alt=""
                  /></span>
                  Quality Services
                </div>

                <div class="feature tag_03">
                  <span><i class="fal fa-check"></i></span> Quality Training
                </div>
                <!-- <div class="video-wrapper">
                  <a
                    href="https://www.youtube.com/watch?v=7omGYwdcS04"
                    class="popup-video"
                    ><i class="fas fa-play"></i
                  ></a>
                </div> -->
                <div class="img-bg pos-rel">
                  <img
                    class="chose_05 pl-140 pl-lg-0 pl-md-0 pl-xs-0"
                    src="assets/img/chose/050.png"
                    alt="Chose-img"
                  />
                </div>
                <img
                  class="chose chose_06"
                  src="assets/img/shape/dot-box3.svg"
                  alt="Chose-img"
                />
              </div>
            </div>
            <div class="col-xl-5 col-lg-5">
              <div class="chose-wrapper pl-25 pl-lg-0 pl-md-0 pl-xs-0">
                <div
                  class="section-title mb-30 wow fadeInUp2 animated"
                  data-wow-delay=".1s"
                >
                  <h2 class="mb-25">Why Choose DezyKode?</h2>
                  <p>
                    By choosing Dezykode, businesses and learners gain a trusted
                    partner focused on driving growth and empowering success in
                    the fast-evolving IT landscape.
                  </p>
                  <br />
                  <h4>IT Services:</h4>
                </div>

                <ul
                  class="text-list mb-40 wow fadeInUp2 animated"
                  data-wow-delay=".2s"
                >
                  <li>
                    Expertise in delivering innovative and customized IT
                    solutions, including software development, web and mobile
                    apps, and cloud services.
                  </li>
                  <li>
                    A client-centric approach ensures high-quality and timely
                    results tailored to unique business needs.
                  </li>
                  <li>
                    Strong focus on security, compliance, and the use of
                    cutting-edge technologies to give businesses a competitive
                    edge.
                  </li>

                  <h4>IT Training:</h4>
                  <br />
                  <li>
                    Hands-on, industry-relevant training programs in trending
                    technologies like cloud computing and data science.
                  </li>
                  <li>
                    Personalized mentorship and interactive learning for
                    practical skills and job-ready education.
                  </li>
                  <li>
                    Commitment to quality training that empowers learners to
                    thrive in the dynamic IT landscape.
                  </li>
                </ul>
                <a
                  routerLink="/about"
                  class="theme_btn wow fadeInUp2 animated"
                  data-wow-delay=".3s"
                  >More Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- why-chose-us end -->
  </div>
  <!-- why-chose-section-wrapper start -->
  <!-- testimonial-area start -->
  <section
    class="testimonial-area testimonial-pad pt-50 pb-20 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70"
  >
    <div class="container custom-container-testimonial">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="section-title text-center text-md-start mb-35">
            <!-- <h5 class="bottom-line mb-25">Our Instructor</h5> -->
            <h2 class="bottom-line mb-25">What our Employee says!</h2>
          </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
          <a
            href="https://maps.app.goo.gl/kjqGP5Fn2ojsX3da7"
            target="_blank"
            class="theme_btn"
            >Read All Reviews</a
          >
        </div>
      </div>
      <div class="row testimonial-active-01">
        <div class="col-xl-3">
          <div class="item">
            <div class="testimonial-wrapper mb-30">
              <div class="testimonial-authors overflow-hidden mb-15">
                <div class="testimonial-authors__avatar">
                  <img src="assets/img/testimonial/01.png" alt="testi-author" />
                </div>
                <div class="testimonial-authors__content mt-10">
                  <h4 class="sub-title">Arti</h4>
                  <p>Digital Marketer</p>
                </div>
              </div>
              <p>
                " After Completing 200 days at Dezykode it solutions Pvt Ltd. I
                thought to share my journey with everyone. This experience has
                been nothing short of remarkable. The leadership promotes open
                communication and ...
              </p>
              <div class="quote-icon mt-20">
                <img src="assets/img/icon/quote.svg" alt="quote-icon" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="item">
            <div class="testimonial-wrapper mb-30">
              <div class="testimonial-authors overflow-hidden mb-15">
                <div class="testimonial-authors__avatar">
                  <img src="assets/img/testimonial/02.png" alt="testi-author" />
                </div>
                <div class="testimonial-authors__content mt-10">
                  <h4 class="sub-title">Emily Gemon</h4>
                  <p>User Interface</p>
                </div>
              </div>
              <p>
                " Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed
                di nonumy eirmod tempor invidt utlabore et dolore magn aliq
                erat.
              </p>
              <div class="quote-icon mt-20">
                <img src="assets/img/icon/quote.svg" alt="quote-icon" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="item">
            <div class="testimonial-wrapper mb-30">
              <div class="testimonial-authors overflow-hidden mb-15">
                <div class="testimonial-authors__avatar">
                  <img src="assets/img/testimonial/03.png" alt="testi-author" />
                </div>
                <div class="testimonial-authors__content mt-10">
                  <h4 class="sub-title">Micheal George</h4>
                  <p>Content Writer</p>
                </div>
              </div>
              <p>
                " Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed
                di nonumy eirmod tempor invidt utlabore et dolore magn aliq
                erat.
              </p>
              <div class="quote-icon mt-20">
                <img src="assets/img/icon/quote.svg" alt="quote-icon" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="item">
            <div class="testimonial-wrapper mb-30">
              <div class="testimonial-authors overflow-hidden mb-15">
                <div class="testimonial-authors__avatar">
                  <img src="assets/img/testimonial/01.png" alt="testi-author" />
                </div>
                <div class="testimonial-authors__content mt-10">
                  <h4 class="sub-title">Georgia Laila</h4>
                  <p>Full Stack Developer</p>
                </div>
              </div>
              <p>
                " Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed
                di nonumy eirmod tempor invidt utlabore et dolore magn aliq
                erat.
              </p>
              <div class="quote-icon mt-20">
                <img src="assets/img/icon/quote.svg" alt="quote-icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial-area end -->
</main>
